<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2>Доступные классы</h2>
    <table> 
        <td>
            <td>
                <div class="Class_button" style="background-color: red;">8л1 - 317 -></div>
            </td>
            <td>
                <div class="Class_button" style="background-color: red;">8л1 - 317 -></div>
            </td>
  
        </td>
        <td>
            <td>
                <div class="Class_button" style="background-color: yellow;">8л1 - 317</div>
            </td>
        </td>
        <td>
            <td>
                <div class="Class_button" style="background-color: green;">8л1 - 317</div>
            </td>
        </td>
    </table>
</body>
</html>