<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <h2 class="page_name">Ученики 8л1</h2>
    
    <div class="short_manual">
        <div class="check_item_no_reason">
            <div class="no_reason"></div>
            <div class="student_name">Без причины</div>
        </div>

        <div class="check_item_for_reason">
            <div class="for_reason"></div>
            <div class="student_name">По причине</div>
        </div>
    </div>

    <div class="List_of_students">
        <div class="check_item">
            <div class="for_reason"></div>
            <div class="student_name">Айдар</div>
        </div>
        <div class="check_item">
            <div class="no_reason"></div>
            <div class="student_name">Булат</div>
        </div>
        <div class="check_item">
            <div class="in_school"></div>
            <div class="student_name">Илья</div>
        </div>
    </div>
</body>
</html>